
.main-nav {
    width: 150px;
}

.main-nav ul {padding: 0}
.main-nav li {
    list-style: none;
}

.main-nav .nav-item {
    display: inline-block;
    margin: 5px;
    background-color: red;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
}

.main-nav .nav-item.active-menu-link {
    padding: 8px;
    font-size: 1.4em;
}

:host /deep/ li {
    text-decoration: none;
}

.container {
    display: flex;
}

