.list li {
    color: black;
}

.list li:hover {
    font-weight: bold;
    cursor: pointer;
}

.list li.active {
    text-decoration: underline;
}

h1 {
    color: red;
}

:host {
    border: 1px solid black;
    display: block;
}

:host-context(.red) li {
    color: red;
}

:host-context(.green) li {
    color: green;
}
